<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<context:annotation-config/>-->

    <!--<context:component-scan base-package="stingion.texty"/>-->

    <!--<bean id="word" class="java.lang.String">-->
    <!--<constructor-arg value="Hello2"/>-->
    <!--</bean>-->

    <!--<beans profile="one, default">-->
    <!--<bean id="bulka" class="java.lang.String">-->
    <!--<constructor-arg value="Z makom"/>-->
    <!--</bean>-->
    <!--</beans>-->

    <!--<beans profile="two">-->
    <!--<bean id="bulka" class="java.lang.String">-->
    <!--<constructor-arg value="Z varennyam"/>-->
    <!--</bean>-->
    <!--</beans>-->

    <bean id="message" class="stingion.event3er.Message">
        <property name="content" value="Hello World!"/>
    </bean>

    <bean id="c1Handler"
          class="stingion.event3er.C1Handler"/>

    <bean id="c2Handler"
          class="stingion.event3er.C2Handler"/>

    <bean class="stingion.event4er.MyEventPublisher"/>

    <bean class="stingion.event4er.MyEventListener"/>
    <bean class="stingion.event4er.MyEventListener"/>
    <bean class="stingion.event4er.MyEventListener"/>
    <!--<bean id="bullak" class="stingion.TaddyBear"/>-->

    <bean id="emailService" class="stingion.event4er.blacklist.EmailService">
        <property name="backList">
            <list>
                <value>email1@gamil.com</value>
                <value>email2@gamil.com</value>
                <value>email3@gamil.com</value>
            </list>
        </property>
    </bean>

    <bean id="blackListNofifier" class="stingion.event4er.blacklist.BlackListNotifier">
        <property name="notificationAddress" value="blacklist@gamil.com"/>
    </bean>
</beans>