<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:integration="http://www.springframework.org/schema/integration"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/integration
                           http://www.springframework.org/schema/integration/spring-integration.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="stingion.practice2"/>

    <bean id="word" class="java.lang.String">
        <constructor-arg value="Hello5"/>
    </bean>

    <bean id="itisbean" class="stingion.spring.ItIsBean" scope="singleton" init-method="init" destroy-method="destroy">
        <property name="str" value="setValue"/>
    </bean>

    <!--<bean id="without" class="stingion.practice2.Without">-->
        <!--<property name="inter" value="2"/>-->
        <!--<property name="str" value="abc"/>-->
    <!--</bean>-->

    <bean class="java.lang.Integer">
        <constructor-arg value="3"/>
    </bean>

</beans>