<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:integration="http://www.springframework.org/schema/integration"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/integration
                           http://www.springframework.org/schema/integration/spring-integration.xsd
                           http://www.springframework.org/schema/task
                           http://www.springframework.org/schema/task/spring-task.xsd">

    <bean id="inMsgHandler" class="stingion.newek.integration.StrUpCaseHandler"/>

    <task:executor id="executor" pool-size="3" />

    <integration:channel id="inChannel">
        <integration:dispatcher task-executor="executor"/>
    </integration:channel>

    <integration:channel id="outChannel">
        <integration:queue capacity="15"/>
    </integration:channel>

    <integration:gateway id="gateway"
                         default-reply-timeout="110"
                         default-request-channel="inChannel"
                         default-reply-channel="outChannel"
                         service-interface="stingion.newek.integration.StrUpCaseGateway"/>

    <integration:service-activator input-channel="inChannel" output-channel="outChannel" ref="inMsgHandler"
                                   method="handler"/>
</beans>

