<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="stingion.practice2"/>

    <bean id="word" class="java.lang.String">
        <constructor-arg value="Hello5"/>
    </bean>

    <!--<bean id="itisbean" class="stingion.spring.ItIsBean" scope="singleton" init-method="init" destroy-method="destroy">
        <property name="str" value="setValue"/>
    </bean>-->

    <!--<bean id="without" class="stingion.practice2.Without">-->
    <!--<property name="inter" value="2"/>-->
    <!--<property name="str" value="abc"/>-->
    <!--</bean>-->

    <bean class="java.lang.Integer">
        <constructor-arg value="3"/>
    </bean>

    <bean id="two" class="java.lang.Double">
        <constructor-arg value="2.312d"/>
    </bean>

    <bean id="one" class="java.lang.Double">
        <constructor-arg value="-22.312d"/>
    </bean>

    <bean id="olu" class="stingion.practice2.OneLookUp" scope="prototype"/>

    <bean id="q" class="stingion.practice2.Quick">
        <property name="f" ref="olu"/>
    </bean>

    <bean id="ff" class="java.lang.Float" scope="prototype">
        <constructor-arg value="131.3f"/>
    </bean>

    <bean id="in" class="java.lang.Double" scope="prototype">
        <constructor-arg value="3.3"/>
    </bean>

</beans>